dotnet/install/Redistributables/Reports/XSD/AddressLabel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- =========================================================== 
     THIS FILE IS GENERATED AUTOMATICALLY BY THE REPORT MANAGER! 
     PLEASE REFRAIN FROM EDITING SINCE IT WILL BE OVERWRITTEN!   
     =========================================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AddressLabelReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MetaData" type="MetaDataType"/>
				<xs:element name="Data" type="DataType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MetaDataType">
		<xs:attribute name="documentType" use="required"/>
		<xs:attribute name="documentSubType" use="required"/>
		<xs:attribute name="applicationIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="terminalIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="printerIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="userIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="numberOfCopies" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:totalDigits value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="isCopy" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:sequence>
			<xs:element name="AddressLabel" type="AddressLabelType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressLabelType">
		<xs:sequence>
			<xs:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:attribute name="ClientName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Address" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="City" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Phone" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ZipCode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PartyType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShipToName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShipToName2" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShipToZipCode" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShipToCity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShipToCountry" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ShipToAddress" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PlannedDepartureTime" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:dateTime"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
