dotnet/install/Redistributables/Reports/XSD/ItemLoadsLastShipDate.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- =========================================================== 
     THIS FILE IS GENERATED AUTOMATICALLY BY THE REPORT MANAGER! 
     PLEASE REFRAIN FROM EDITING SINCE IT WILL BE OVERWRITTEN!   
     =========================================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ItemLoadsLastShipDateReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MetaData" type="MetaDataType"/>
				<xs:element name="Data" type="DataType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MetaDataType">
		<xs:attribute name="documentType" use="required"/>
		<xs:attribute name="documentSubType" use="required"/>
		<xs:attribute name="applicationIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="terminalIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="printerIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="userIdentity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="numberOfCopies" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:byte">
					<xs:totalDigits value="5"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="isCopy" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:boolean"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DataType">
		<xs:sequence>
			<xs:element name="ItemLoadsLastShipDate" type="ItemLoadsLastShipDateType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemLoadsLastShipDateType">
		<xs:sequence>
			<xs:element name="ItemLoad" type="ItemLoadType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemLoadType">
		<xs:attribute name="ProductNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ProductDescription" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="256"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Quantity" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="20"/>
					<xs:fractionDigits value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="PackageDescription" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AreaId" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LocationAddress" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ItemLoadId" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WarehouseName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="25"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ExpiryDate" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:dateTime"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="LastShipDate" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:dateTime"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="WarehouseId" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
