dotnet/source/SupplyChain/Server/Job/OutputManagerSend/Service References/OutputManagerService/OutputHandlerService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://Imi.Framework.Services/2011/09" elementFormDefault="qualified" targetNamespace="http://Imi.Framework.Services/2011/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://se0133d:18801/OutputManager/OutputHandlerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SystemFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemFault" nillable="true" type="tns:SystemFault" />
  <xs:complexType name="ApplicationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AdditionalMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationFault" nillable="true" type="tns:ApplicationFault" />
</xs:schema>