dotnet/source/SupplyChain/Server/Job/CentiroAdapter/Service References/CentiroService/CDCInterface1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CDCInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0" location="http://test.centiro.com/Universe.Services/Adapted/CDC/1/1/CDCInterface.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IWMSInterface" type="i0:IWMSInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShipment">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/UpdateShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintShipment">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/PrintShipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParcels">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/UpdateParcels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveParcels">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/RemoveParcels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintParcels">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/PrintParcels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintDeparture">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/PrintDeparture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseDeparture">
      <soap:operation soapAction="http://www.centiro.com/CentiroServices.Adapted.CDC.Contracts/1/0/IWMSInterface/CloseDeparture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDCInterface">
    <wsdl:port name="BasicHttpBinding_IWMSInterface" binding="tns:BasicHttpBinding_IWMSInterface">
      <soap:address location="http://test.centiro.com/Universe.Services/Adapted/CDC/1/1/CDCInterface.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>