dotnet/source/SupplyChain/Server/Net/Broadcast/xsd/BroadcastSetup.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BroadcastSetup">
		<xs:complexType>
			<xs:attribute name="FileName" type="xs:string" use="required"/>
			<xs:attribute name="Ip" type="xs:string" use="required"/>
			<xs:attribute name="Port" type="xs:short" use="required"/>
			<xs:attribute name="Ttl" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
