dotnet/source/Wms/WebServices/SyncWS/SyncWSTester/Web References/OrderService/Interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://im.se/webservices/c3pl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://im.se/webservices/c3pl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://im.se/webservices/c3pl">
      <s:element name="getOpenOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderSearchParameters" type="tns:orderSearchParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="orderSearchParameters">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseParameters">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="orderType" nillable="true" type="tns:orderType" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="yourCono" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="from" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="to" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="mark" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ordersFromProduction" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ordersFromHistory" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="baseParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="returnDetails" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="firstResult" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="maxResult" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="stockNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="orderSaveParameters">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseParameters">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="order" type="tns:order" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderType" type="tns:orderType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="coNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="customer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cuRef" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="yourCono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="reqDelDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="coMark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="shippingAddress" type="tns:shippingAddress" />
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="orderLines" nillable="true" type="tns:orderLine" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="poid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="poSeq" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="receivingWhid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="shipFromPartyid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="whName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderShipFrom" type="tns:orderShipFrom" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="methodOfShipmentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="methodOfShipmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="customerOrderTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="customerOrderTypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="orderType">
        <s:restriction base="s:string">
          <s:enumeration value="CO" />
          <s:enumeration value="CO3PL" />
          <s:enumeration value="PO" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="shippingAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="shipCustNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="shiptoNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="address" type="tns:address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="name1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="name2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="street1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="street2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="street3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="zipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="stateCd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="countryCd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="orderLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="partNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="partDescr1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="partDescr2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="custPartNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="custPartDescr1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="custPartDescr2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="qtyUnit" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="originalQtyUnit" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="unitDescr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="linePos" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="lineSeq" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="lineId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sellingUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="sellingUnitDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="delDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="lineStatus" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="rcvQtyUnit" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="orderShipFrom">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="shipFromPartyid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="shipFromPartyQualifier" type="tns:partyType" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="address" type="tns:address" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="partyType">
        <s:restriction base="s:string">
          <s:enumeration value="CA" />
          <s:enumeration value="CL" />
          <s:enumeration value="CU" />
          <s:enumeration value="GO" />
          <s:enumeration value="OT" />
          <s:enumeration value="SU" />
          <s:enumeration value="WH" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="methodOfShipmentSearchParameters">
        <s:complexContent mixed="false">
          <s:extension base="tns:baseParameters">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="clientId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="getOpenOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="tns:orderSearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="orderSearchResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:searchResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="list" type="tns:order" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="searchResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="totalHits" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="methodOfShipmentSearchResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:searchResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="list" type="tns:methodOfShipment" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="methodOfShipment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="methodOfShipmentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="methodOfShipmentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="customerOrderTypeSearchResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:searchResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="list" type="tns:customerOrderType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="customerOrderType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="customerOrderTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="customerOrderTypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderSearchParameters" type="tns:orderSearchParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getOrderDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="tns:order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderSaveParameters" type="tns:orderSaveParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="tns:order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="orderSaveParameters" type="tns:orderSaveParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="tns:order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerOrderTypes">
        <s:complexType />
      </s:element>
      <s:element name="getCustomerOrderTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="tns:customerOrderTypeSearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMethodOfShipments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="MethodOfShipmentSearchParameters" type="tns:methodOfShipmentSearchParameters" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMethodOfShipmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="return" type="tns:methodOfShipmentSearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getOpenOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:getOpenOrders" />
  </wsdl:message>
  <wsdl:message name="getOpenOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:getOpenOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="getOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getOrderDetails" />
  </wsdl:message>
  <wsdl:message name="getOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="saveOrderSoapIn">
    <wsdl:part name="parameters" element="tns:saveOrder" />
  </wsdl:message>
  <wsdl:message name="saveOrderSoapOut">
    <wsdl:part name="parameters" element="tns:saveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="validateOrderSoapIn">
    <wsdl:part name="parameters" element="tns:validateOrder" />
  </wsdl:message>
  <wsdl:message name="validateOrderSoapOut">
    <wsdl:part name="parameters" element="tns:validateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomerOrderTypesSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerOrderTypes" />
  </wsdl:message>
  <wsdl:message name="getCustomerOrderTypesSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerOrderTypesResponse" />
  </wsdl:message>
  <wsdl:message name="getMethodOfShipmentsSoapIn">
    <wsdl:part name="parameters" element="tns:getMethodOfShipments" />
  </wsdl:message>
  <wsdl:message name="getMethodOfShipmentsSoapOut">
    <wsdl:part name="parameters" element="tns:getMethodOfShipmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderServiceBinding">
    <wsdl:operation name="getOpenOrders">
      <wsdl:input message="tns:getOpenOrdersSoapIn" />
      <wsdl:output message="tns:getOpenOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrderDetails">
      <wsdl:input message="tns:getOrderDetailsSoapIn" />
      <wsdl:output message="tns:getOrderDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <wsdl:input message="tns:saveOrderSoapIn" />
      <wsdl:output message="tns:saveOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateOrder">
      <wsdl:input message="tns:validateOrderSoapIn" />
      <wsdl:output message="tns:validateOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustomerOrderTypes">
      <wsdl:input message="tns:getCustomerOrderTypesSoapIn" />
      <wsdl:output message="tns:getCustomerOrderTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMethodOfShipments">
      <wsdl:input message="tns:getMethodOfShipmentsSoapIn" />
      <wsdl:output message="tns:getMethodOfShipmentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceBinding" type="tns:OrderServiceBinding">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOpenOrders">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateOrder">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerOrderTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethodOfShipments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderServiceBinding1" type="tns:OrderServiceBinding">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOpenOrders">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderDetails">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveOrder">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateOrder">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomerOrderTypes">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMethodOfShipments">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderWebService">
    <wsdl:port name="OrderServiceBinding" binding="tns:OrderServiceBinding">
      <soap:address location="http://localhost:1095/Wms.WebServices.SyncWS.WebSite/Interface.c3PL.Order.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderServiceBinding1" binding="tns:OrderServiceBinding1">
      <soap12:address location="http://localhost:1095/Wms.WebServices.SyncWS.WebSite/Interface.c3PL.Order.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>