dotnet/source/CodeGenerators/Xml/xsd/WebServiceConfig.xsd

<?xml version="1.0" encoding="UTF-8"?><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:complexType name="InstanceType">		<xs:attribute name="name" type="xs:string" use="required"/>		<xs:attribute name="connectString" type="xs:string" use="required"/>	</xs:complexType>	<xs:complexType name="InstanceListType">		<xs:sequence>			<xs:element name="Instance" type="InstanceType" maxOccurs="unbounded"/>		</xs:sequence>	</xs:complexType>	<xs:complexType name="PartnerType">		<xs:attribute name="name" type="xs:string" use="required"/>		<xs:attribute name="externalId" type="xs:string" use="required"/>		<xs:attribute name="instance" type="xs:string" use="required"/>	</xs:complexType>	<xs:complexType name="PartnerListType">		<xs:sequence>			<xs:element name="Partner" type="PartnerType" maxOccurs="unbounded"/>		</xs:sequence>	</xs:complexType>	<xs:element name="WebServiceConfig">		<xs:complexType>			<xs:sequence>				<xs:element name="InstanceList" type="InstanceListType"/>				<xs:element name="PartnerList" type="PartnerListType"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>