dotnet/source/Wms/Mobile/Server/Interface/Messages/ConfigurationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Applications"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Applications">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Application" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Application">
    <xs:complexType>
      <xs:attribute name="Name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
