dotnet/source/Wms/Mobile/Server/UI/Configuration/xsd/ServerConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Tommy Grovnes (Industri-Matematik AB) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="BroadcastType">
		<xs:attribute name="Ip" type="xs:string" use="required"/>
		<xs:attribute name="Port" type="xs:int" use="required"/>
		<xs:attribute name="Timeout" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="FolderType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="Server" type="ServerType"/>
				<xs:element name="Folder" type="FolderType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ServerType">
		<xs:attribute name="Port" type="xs:int" use="required"/>
		<xs:attribute name="HostName" type="xs:string" use="required"/>
		<xs:attribute name="DisplayName" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="ServerConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RootFolder" type="FolderType"/>
				<xs:element name="Broadcast" type="BroadcastType" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="RefreshRate" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="High"/>
						<xs:enumeration value="Normal"/>
						<xs:enumeration value="Low"/>
						<xs:enumeration value="Paused"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
